<div class="container jumbotron">
  <div class="page-header">
  	<h2> List of Matches </h2>
  	<div class="row">
    	<div class="col-xs-2"><h3><b> Match </b></h3></div>
        <div class="col-xs-1"><h3><b> Series name </b></h3></div>
        <div class="col-xs-2"><h3><b> From </b></h3></div>
        <div class="col-xs-2"><h3><b> To </b></h3></div>
        <div class="col-xs-1"><h3><b> Type  </b></h3></div>
        <div class="col-xs-2"><h3><b> Result  </b></h3></div>
        <div class="col-xs-2"><h3><b> Options  </b></h3></div>
  </div>
  </div>
</div>

