<h3> Fill up todays Time-sheet details here. </h3>
<div align="center">
  Select date:   <%= text_field_tag 'timesheet_date', Date.today.strftime("%d-%m-%Y") ,:class => "timesheet_date"%>
</div>

<div id="todays_filled_list">
  <%= render "timesheet", time_records: @time_records %>
</div>
