/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* .sample_class{
 	height: 10 px;
 	color: red ;
 }*/

 .message_div{
     margin: 10px;
}

body{
    background-image: url("Grey-background-for-site1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* .background_image_login{
     background-image: url("20060730223823_crw_8091s.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-image: inherit;
     height: 100%;
     width: 100%;
     margin: 0px;
     padding: 0px;

}*/

.notice{
    color: green;
    text-align: center;
}

.alert{
    color: red;
    text-align: center;
}