<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>This is home page</h1>
        <p>Here we will show the information needed to show on home page.</p>
        <p>This is the information page where user will be landing after logging in the system.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View current status &raquo;</a>
        </p>
      </div>