<div style="margin-top: 10%;margin-left: 30%">
  Please Login Here
  <%= form_for :user, :url => sessions_path do |f| %>
    <table>
      <tr>
        <td>User Name: </td>
        <td><%= f.text_field :user_name %><br/></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit 'Login' %></td>
      </tr>
    </table>
  <% end %>
</div>
